<!DOCTYPE html>
<html lang="en">
<!-- 首页 -->

<head th:replace="_fragments :: head(~{::title})">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" href="../static/css/me.css">
	<title>首页</title>
</head>
<style>
	.disable {
		pointer-events: none;
	}
</style>

<body>
	<!-- 导航  -->
	<nav th:replace="_fragments :: menu(1)" class="ui vertical segment m-theme-color">
		<div class="ui container ">
			<div class="ui secondary menu stackable">
				<h2 class="ui header item">Blog</h2>
				<a href="#" class="active m-item item m-mobile-hide"><i class="icon home"></i>首页</a>
				<a href="#" class="m-item item m-mobile-hide"><i class="icon copy"></i>分类</a>
				<a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
				<a href="#" class="m-item item m-mobile-hide"><i class="erase icon"></i>归档</a>
				<a href="#" class="m-item item m-mobile-hide"><i class="icon address book"></i>关于我</a>
				<div class="right m-item item m-mobile-hide">
					<form name="search" action="#" th:action="@{/search}" method="post" target="_blank">
						<div class="ui icon input">
							<input type="text" name="query" placeholder="Search...">
							<i onclick="document.forms['search'].submit()" class="search link icon"></i>
						</div>
					</form>
				</div>
			</div>
		</div>
		<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show" style="background-color:#77787b;">
			<i class="sidebar icon"></i>
		</a>
	</nav>

	<!-- 中间内容 -->
	<div class="m-padded-big">
		<div class="ui grid stackable container">
			<!-- 左边博客部分 -->
			<div class="eleven wide column">

				<!-- header  -->
				<div class="ui segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui header">博客</h3>
						</div>
						<div class="right aligned column">
							<h3 class="ui header">共<span class="ui orange header m-font-thin" th:text="${page.count}" >20</span>篇</h3>
						</div>
					</div>
				</div>

				<!-- body 中间博客展示部分 -->
				<div class="ui segment">
					<!-- 每一篇博客 -->
					<!--/*-->
					<div class="ui segment m-margin  padded">
						<div class="ui middle aligned stackable grid">
							<!-- 博客 -->
							<div class="eleven wide column content">
								<h3 class="ui">Mybatis入门，环境搭建</h3>
								<p class="ui item m-font">MyBatis 是一款优秀的持久层框架，它支持自定义 SQL、存储过程以及高级映射。MyBatis 免除了几乎所有的 JDBC
									代码以及设置参数和获取结果集的工作。MyBatis 可以通过简单的 XML 或注解来配置和映射原始类型、接口和 Java POJO为数据库中的记录。</p>
								<div class="ui grid mini">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="../static/images/th.jpg">
												<div class="content">appletcat</div>
											</div>
											<div class="item">
												<i class="time icon"></i>2020-2-9
											</div>
											<div class="item">
												<i class="eye icon">223</i>
											</div>
										</div>
									</div>
									<div class="five wide column right aligned">
										<a href="#" class="ui label m-font-thin">mybatis</a>
									</div>
								</div>
							</div>
							<!-- 右侧图片 -->
							<div class="five wide column">
								<a href="#">
									<img class="ui rounded  image " src="../static/images/th.jpg">
								</a>
							</div>
						</div>
					</div>

					<div class="ui segment m-margin  padded">
						<div class="ui stackable grid">
							<!-- 博客 -->
							<div class="eleven wide column content">
								<h3 class="ui">Mybatis入门，环境搭建</h3>
								<p class="ui item m-font">MyBatis 是一款优秀的持久层框架，它支持自定义 SQL、存储过程以及高级映射。MyBatis 免除了几乎所有的 JDBC
									代码以及设置参数和获取结果集的工作。MyBatis 可以通过简单的 XML 或注解来配置和映射原始类型、接口和 Java POJO为数据库中的记录。</p>
								<div class="ui grid mini">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="../static/images/th.jpg">
												<div class="content">appletcat</div>
											</div>
											<div class="item">
												<i class="time icon"></i>2020-2-9
											</div>
											<div class="item">
												<i class="eye icon">223</i>
											</div>
										</div>
									</div>
									<div class="five wide column right aligned">
										<a href="#" class="ui label m-font-thin">mybatis</a>
									</div>
								</div>
							</div>
							<!-- 右侧图片 -->
							<div class="five wide column">
								<a href="#">
									<img class="ui rounded  image " src="../static/images/th.jpg">
								</a>
							</div>
						</div>
					</div>

					<div class="ui segment m-margin  padded">
						<div class="ui stackable grid">
							<!-- 博客 -->
							<div class="eleven wide column content">
								<h3 class="ui">Mybatis入门，环境搭建</h3>
								<p class="ui item m-font">MyBatis 是一款优秀的持久层框架，它支持自定义 SQL、存储过程以及高级映射。MyBatis 免除了几乎所有的 JDBC
									代码以及设置参数和获取结果集的工作。MyBatis 可以通过简单的 XML 或注解来配置和映射原始类型、接口和 Java POJO为数据库中的记录。</p>
								<div class="ui grid mini">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="../static/images/th.jpg">
												<div class="content">appletcat</div>
											</div>
											<div class="item">
												<i class="time icon"></i>2020-2-9
											</div>
											<div class="item">
												<i class="eye icon">223</i>
											</div>
										</div>
									</div>
									<div class="five wide column right aligned">
										<a href="#" class="ui label m-font-thin">mybatis</a>
									</div>
								</div>
							</div>
							<!-- 右侧图片 -->
							<div class="five wide column">
								<a href="#">
									<img class="ui rounded  image " src="../static/images/th.jpg">
								</a>
							</div>
						</div>
					</div>
					<div class="ui segment m-margin  padded">
						<div class="ui stackable grid">
							<!-- 博客 -->
							<div class="eleven wide column content">
								<h3 class="ui">Mybatis入门，环境搭建</h3>
								<p class="ui item m-font">MyBatis 是一款优秀的持久层框架，它支持自定义 SQL、存储过程以及高级映射。MyBatis 免除了几乎所有的 JDBC
									代码以及设置参数和获取结果集的工作。MyBatis 可以通过简单的 XML 或注解来配置和映射原始类型、接口和 Java POJO为数据库中的记录。</p>
								<div class="ui grid mini">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="../static/images/th.jpg">
												<div class="content">appletcat</div>
											</div>
											<div class="item">
												<i class="time icon"></i>2020-2-9
											</div>
											<div class="item">
												<i class="eye icon">223</i>
											</div>
										</div>
									</div>
									<div class="five wide column right aligned">
										<a href="#" class="ui label m-font-thin">mybatis</a>
									</div>
								</div>
							</div>
							<!-- 右侧图片 -->
							<div class="five wide column">
								<a href="#">
									<img class="ui rounded  image " src="../static/images/th.jpg">
								</a>
							</div>
						</div>
					</div>

					<div class="ui segment m-margin  padded">
						<div class="ui stackable grid">
							<!-- 博客 -->
							<div class="eleven wide column content">
								<h3 class="ui">Mybatis入门，环境搭建</h3>
								<p class="ui item m-font">MyBatis 是一款优秀的持久层框架，它支持自定义 SQL、存储过程以及高级映射。MyBatis 免除了几乎所有的 JDBC
									代码以及设置参数和获取结果集的工作。MyBatis 可以通过简单的 XML 或注解来配置和映射原始类型、接口和 Java POJO为数据库中的记录。</p>
								<div class="ui grid mini">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="../static/images/th.jpg">
												<div class="content">appletcat</div>
											</div>
											<div class="item">
												<i class="time icon"></i>2020-2-9
											</div>
											<div class="item">
												<i class="eye icon">223</i>
											</div>
										</div>
									</div>
									<div class="five wide column right aligned">
										<a href="#" class="ui label m-font-thin">mybatis</a>
									</div>
								</div>
							</div>
							<!-- 右侧图片 -->
							<div class="five wide column">
								<a href="#">
									<img class="ui rounded  image " src="../static/images/th.jpg">
								</a>
							</div>
						</div>
					</div>
					<!--*/-->

					<div class="ui segment m-margin padded" th:each="blog : ${page.blogs}">
						<div class="ui middle aligned stackable grid">
							<!-- 博客 -->
							<div class="eleven wide column content">
								<h1 class="ui title"><a class="" href="#" th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">入门，环境搭建</a></h1>
								<div class="ui grid mini">
									<div class="eleven wide column">
										<div class="ui horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="../static/images/th.jpg" th:src="@{${user.headPortrait}}">
												<div class="content" th:text="${user.name}">appletcat</div>
											</div>
											<div class="item">
												<i class="time icon"></i><span th:text="${#dates.format(blog.updateDate, 'yyyy-MM-dd')}">2020-1-9</span>
											</div>
											<div class="item">
												<i class="eye icon"></i><span th:text="${blog.views} == null ? 0">111</span>
											</div>
										</div>
									</div>
									<div class="five wide column right aligned">
										<a href="#" class="ui label blue basic m-font-thin" th:text="${blog.type.name}">mybatis</a>
									</div>
								</div>
							</div>
							<!-- 右侧图片 -->
							<div class="five wide column">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
									<img class="ui rounded  image " src="https://picsum.photos/seed/picsum/200/100" th:src="${blog.firstPicture}">
								</a>
							</div>
						</div>
					</div>

				</div>

				<!-- footer -->
				<div class="ui segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<a href="#" th:href="@{/(index=${page.index-1})}" class="ui" th:attrappend="class=${page.index==1} ? ' disable' : '' ">上一页</a>
						</div>
						<div class="right aligned column">
							<a href="#" th:href="@{/(index=${page.index+1})}" class="ui" th:attrappend="class=${page.index==page.total} ? ' disable' : '' ">下一页</a>
						</div>
					</div>
				</div>
			</div>

			<!-- 右边分类墙部分 -->
			<div class="five wide column ">
				<div class="ui card fluid">
					<div class="image">
						<img src="../static/images/th.jpg" th:src="@{${user.headPortrait}}">
					</div>
					<div class="content">
						<a class="header" th:text="${user.name}">Kristy</a>
						<div class="meta">
							<span class="date">Joined in 2013</span>
						</div>
						<div class="description">
							Kristy is an art director living in New York.
						</div>
					</div>
					<div class="extra content ">
					</div>
				</div>
				<!-- 分类 -->
				<div class="ui segments">
					<div class="ui secondary segment">
						<div class="ui two column grid">
							<div class="column">
								<i class="copy icon"></i>分类
							</div>
							<div class="right aligned column">
								<a href="#">more <i class="icon angle double right"></i></a>
							</div>
						</div>
					</div>
					<div class="ui segment">
						<div class="ui vertical fluid menu">
							<a href="#" class="item" th:each="type : ${types}"> 
								<span th:text="${type.name}">Java</span> <div class="ui label" th:text="${type.number}">12</div>
							</a>
							<!--/*-->
							<a href="#" class="item">Java <div class="ui label">12</div></a>
							<a href="#" class="item">Java <div class="ui label">12</div></a>
							<a href="#" class="item">Java <div class="ui label">12</div></a>
							<a href="#" class="item">Java <div class="ui label">12</div></a>
							<a href="#" class="item">Java <div class="ui label">12</div></a>
							<!--*/-->
						</div>
					</div>
				</div>

				<!-- 标签 -->
				<div class="ui segments">
					<div class="ui secondary segment">
						<div class="ui two column grid">
							<div class="column">
								<i class="tags icon"></i>标签
							</div>
							<div class="right aligned column">
								<a href="#">more <i class="icon angle double right"></i></a>
							</div>
						</div>
					</div>
					<div class="ui segment">
						<div class="ui tag labels">
							<a class="ui label" th:each="tag : ${tags}">
								<span th:text="${tag.name}">note</span> <div class="detail" th:text="${tag.number}">12</div>
							</a>
							<!--/*-->
							<a class="ui label">$ <div class="detail">12</div></a>
							<a class="ui label">$ <div class="detail">12</div></a>
							<a class="ui label">$10.00 <div class="detail">12</div></a>
							<a class="ui label">$10.00 <div class="detail">12</div></a>
							<a class="ui label">$10.00 <div class="detail">12</div></a>
							<a class="ui label">$10.00 <div class="detail">12</div></a>
							<!--*/-->
						</div>
					</div>
				</div>

				<!-- 最新推荐 -->


			</div>

		</div>
	</div>

	<!-- 底部  -->
	<footer class="ui vertical segment m-padded-massive m-theme-color" th:replace="_fragments :: footer">
		<div class="ui center aligned container">
			<div class="ui inverted divided stackable grid m-mobile-hide">
				<div class="three wide column">
					<div class="ui iverted link list">
						<div class="item">
							<img src="../static/images/th.jpg" class="ui rounded image" style="width: 110px;">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui header">最新博客</h4>
					<div class="ui link list">
						<a href="#" class="item">java</a>
						<a href="#" class="item">python</a>
						<a href="#" class="item">go</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui header">联系我</h4>

					<div class="ui link list">
						<a href="#" class="item">java</a>
						<a href="#" class="item">python</a>
						<a href="#" class="item">go</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui header">最新博客</h4>
					<p class="m-font-thin m-font-mini">image.canon is a cloud service designed to ease your imaging workflow,
						whether you are a professional, enthusiast, or casual user. Connecting your Wi-Fi compatible Canon camera to
						the image</p>
				</div>
			</div>
			<div class="ui section divider"></div>
			<p class="m-font-mini">为回应符合本地法律要求的通知，部分搜索结果未予显示。有关详细信息，请参阅此处。</p>
		</div>
	</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
	<script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

	<script>
		$('.menu.toggle').click(function () {
			$('.m-item').toggleClass('m-mobile-hide');
		});
	</script>
</body>

</html>