body{
  background-image: url("../images/bg.png");
}

/* theme color  */
.m-theme-color{
  background-color:burlywood  !important;
}

/* padding */
.m-padded-normal{
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.m-padded-big{
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
.m-padded-large{
  padding-top: 4em !important;
  padding-bottom: 4em !important;
}

.m-padded-massive{
  padding-top: 5em !important;
  padding-bottom: 5em !important;
}

.m-padded-lr{
  padding-left: 4em !important;
  padding-right: 4em !important;
}

.m-padded-lr-nor{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
/* margin */
.m-margin-big{
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}

.m-margin{
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.m-margin-small{
  margin-top: 0.8em !important;
  margin-bottom: 0.8em !important;
}

.m-margin-thin{
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.m-margin-lf{
  margin-left: 1em !important;
  margin-right: 1em !important;
}


.m-right-top{
  position: absolute !important;
  top: 14px !important;
  right: 0 !important;
  background-color: burlywood  !important;
}

/* font 字体 */
.m-font{
  font-weight: 300 !important;
  letter-spacing: 1px !important;
  line-height: 1.8 !important;
}
.m-font-thin{
  font-weight: 300 !important;
}
.m-font-spaced{
  letter-spacing: 1px !important;
}
.m-font-lined{
  line-height: 1.8 !important;
}
.m-font-mini{
  opacity: 0.8 !important;
}
/* container  */
.m-container{
  max-width: 72em !important;
  margin: auto !important;
}
.m-container-small{
  max-width: 70em !important;
  margin: auto !important;
}
.m-container-big{
  max-width: 80em !important;
  margin: auto !important;
}
.m-container-large{
  max-width: 80em !important;
  margin: auto !important;
}


/* image */

.m-image-size{
  width: 800px !important;
  height: 450px !important;
}

/* mobile */
.m-mobile-show{
  display: none !important;
}

@media screen and (max-width: 768px){
  .m-mobile-hide{
    display: none !important;
  }

  .m-mobile-show{
    display: block !important;
  }
  .m-padded-lr{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .m-mobile-wide{
    margin-bottom: 0.2em !important;
    width: 100% !important;
  }

  .m-mobile-center{
    text-align: center;
  }
}
